.about {
	margin-top: 100px;
	overflow-y: hidden;
}

.img {
	height: 100%;
	width: 100%;
	transition: transform 1s;
}

.img:hover {
	/* transform: scale(1.1); */
	transform: scaleX(-1);
}

.description {
	background-color: #f0f3f6;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	padding: 40px 40px;
}

.description h2 {
	letter-spacing: 9px;
	font-family: "Times New Roman", serif;
	font-weight: bold;
}

.photo {
	background-color: #f0f3f6;

}